@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel

<root onclick=@OpenMap>

   @if(QuestHudPanel.Instance.IsMapOpen)
   {
      <p>Close Map</p>
   }
   else
   {
      <Image Texture=@Canvas />
   }

</root>