@using Sandbox;
@using Sandbox.UI;
@attribute [Title( "Home Nametag" )]
@attribute [Category( "Home - UI" )]
@attribute [Icon( "local_offer", "red", "white" )]
@inherits PanelComponent

@namespace Home.UI

<root>

    <div class="card">
        <div class="name">@Name</div>
    </div>

</root>

@code{

    [Property] public string Name { get; set; }

    public override void OnStart()
    {
        if(GameObject.IsMine)
        {
            GameObject.Enabled = false;
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(Name);
}
