@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel

@namespace Home.UI

<root>
    
    <img class="roof" src="UI/ui_roof.png" />

    @* <div class="avatar-container"> *@
        @* TODO: Add the avatar hud *@
        @* <AvatarHud @ref="AvatarHud" /> *@
        @* <CameraPanel @Camera=@Player.FaceCamera /> *@
    @* </div> *@
    
    @if(LocalPlayer?.Data?.SteamId != null)
    {
        <img class="avatar" src="@($"avatar:{LocalPlayer?.Data?.SteamId ?? 1}")" class="avatar" />
    }

    <panel class="canvas">
        <label class="money" text="@(HomeUtils.FormatMoney(LocalPlayer?.Data?.Money ?? 0))" />
        <label class="location" text="Testing Scene" />
    </panel>

    @* <panel class="bottom-line" /> *@

</root>

@code
{
    HomePlayer LocalPlayer
	{
		get
		{
			if ( _localPlayer == null )
				_localPlayer = HomePlayer.Local;

			return _localPlayer;
		}
	}
	HomePlayer _localPlayer;

    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}
