@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel

@namespace Home.UI

<root>
    <panel class="bottom-line" />
    <div class="avatar-container">
        @* TODO: Add the avatar hud *@
        @* <AvatarHud @ref="AvatarHud" /> *@
        @* <CameraPanel @Camera=@Player.FaceCamera /> *@
    </div>
    <panel class="canvas">
        <label class="money" text="@(HomeUtils.FormatMoney(LocalPlayer?.Data?.Money ?? 0))" />
        <label class="location" text="Limbo" />
    </panel>

    <img class="roof" src="UI/ui_roof.png" />

</root>

@code
{
    HomePlayer LocalPlayer
	{
		get
		{
			if ( _localPlayer == null )
				_localPlayer = HomePlayer.Local;

			return _localPlayer;
		}
	}
	HomePlayer _localPlayer;

    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}
