@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel

@namespace Home.UI

<root>
    <panel class="bottom-line" />
    <div class="avatar-container">
        @* TODO: Add the avatar hud *@
        @* <AvatarHud @ref="AvatarHud" /> *@
        <CameraPanel @ref=@Player.Camera />
    </div>
    <panel class="canvas">
        <label class="money" text="$9,999,999" />
        <label class="location" text="TODO: Make this work" />
    </panel>

    <img class="roof" src="UI/ui_roof.png" />

</root>

@code
{
    public HomePlayer Player { get; set; }
}
